.course {
  text-align: center;
  max-width: 390px;
  margin: 0 auto;
}

.course-thumbnail {
  width: 175px;
  margin: 20px auto 0;
  display: block;
  border-radius: 4px;
}

.lessons-table {
  min-height: 360px;
  margin-top: 10px;

  .description-cell {
    min-width: 200px;
    text-align: left;
  }

  .duration-cell {
    text-align: center;
  }

  .duration-cell mat-icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
  }

  mat-row {
    text-align: left;
    min-height: 120px;
  }
}

.spinner-container mat-spinner {
  margin: 95px auto 0;
}

.action-toolbar {
  margin-top: 20px;
}

h2 {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.bottom-toolbar {
  margin-top: 20px;
  margin-bottom: 200px;
}

.course-spinner-container {
  opacity: 0.5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
